body {
  display: flex;
  flex-flow: row wrap;
  padding: 38px 15%;
  font-family: sans-serif;
  font-size: 18px;
  justify-content: center;
}

@media (max-width: 900px) {
  body {
    padding: 20px 5px 5px;
  }
}

#result {
  position: fixed;
  top: 0;
  padding:10px;
  border: 3px solid #bdc7ff;
  border-radius: 5px;
  color: #999;
  font-size:small;
  align-self:flex-start;
  background: white;
  z-index: 1000;
}

#result-accent {
  color:rgb(155, 0, 0);
  font-weight: bold;
  font-size: large;
}

.joyou, .nonjoyou {
  padding: 10px;
  position: relative;
}

.joyou {
  border: 1px solid #ccc;
  color: #999;
}

.nonjoyou {
  border: 1px solid #ccc;
  color: #1001e0;
}

.joyou_known {
  color: #000;
  background: rgb(245, 230, 240);
}

.focus5 {
  box-shadow: inset -0 0 0 2px rgba(255, 196, 0, 0.952);
}

.focus4 {
  box-shadow: inset -0 0 0 2px rgba(120, 226, 120, 0.952);
}

.focus3 {
  box-shadow: inset -0 0 0 2px rgba(207, 0, 104, 0.637);
}

.focus2 {
  box-shadow: inset 0 0 0 2px rgba(0, 31, 207, 0.527);
}

.level1 {
  color: rgb(226, 136, 0);
  font-size: bold;
}

.level2 {
  color: green;
}

.level3 {
  color: rgb(168, 0, 42);
}

.level4 {
  color: rgb(105, 130, 214);
}

.level5 {
  color:rgb(86, 100, 146);
}

.level6 {
  color:rgb(100, 86, 109);
}

.jlpt4, .jlpt3, .jlpt2, .jlpt1 {
  position: relative;
}

.jlpt4:before, .jlpt3:before, .jlpt2:before, .jlpt1:before {
  content: '';
  position: absolute;
  width:6px;
  height:6px;
  border-bottom-left-radius: 5px;
  top: 0;
  right: 0;
  z-index: 100;
}

.jlpt4:before {
  background: green;
}

.jlpt3:before {
  background: rgb(168, 0, 42);
}

.jlpt2:before {
  background: rgb(105, 130, 214);
}

.jlpt1:before {
  background: rgb(158, 158, 158);
  top: -1px;
  right: -1px;
}